<% content_for :extra_css do %>
  <%= stylesheet_link_tag "reccomendations", media: "all" %>
<% end %>

<main class="container mt-4">
  <h1 class="text-light">
    Your Track Reccomendations
  </h1>
</main>