<% content_for :extra_css do %>
  <%= stylesheet_link_tag "dashboard", media: "all" %>
<% end %>

<%# Check if user logged in %>
<main class="container mt-4">
    <h1>Your Dashboard</h1>
    <div class="spotify-card p-3 me-3 mb-4">
        <h5 class="text-light mb-1">Top Artist this week</h5>
        <p class="text-secondary mb-0">idk</p>
    </div>
</main>