<% content_for :extra_css do %>
  <%= stylesheet_link_tag "home", media: "all" %>
<% end %>

<main class="container mt-4">
  <h1 class="text-center">Welcome to Spotilytics</h1>
  <div class="hero-carousel mt-4 text-center">
    <div class="slides">
      <%= image_tag "spotify.png", alt: "Spotify Logo Placeholder", class: "carousel-image" %>
      <%= image_tag "spotify.png", alt: "Spotify Logo Placeholder", class: "carousel-image" %>
      <%= image_tag "spotify.png", alt: "Spotify Logo Placeholder", class: "carousel-image" %>
    </div>
  </div>

  <section class="home-description text-center mt-5">
    <h1>Discover Your Sound</h1>
    <p>
      Access your stats anytime, anywhere, at your fingertips. Spotilytics is an all-in-one web application for spotify users to view and access their spotify account statistics whenever and wherever they want. Curious about your top tracks this year or your most listened to artist? Look no further, we have you covered.
    </p>
  </section>
</main>