// Spotify-inspired color variables

$spotify-green: #1db954;
$dark-gray: #212121;
$darker-gray: #121212;
$medium-gray: #535353;
$light-gray: #b3b3b3;

// Example global styles using these variables

body {
  background-color: $darker-gray;
  color: $light-gray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $spotify-green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header, footer {
  background-color: $dark-gray;
  color: $light-gray;
}

button {
  background-color: $spotify-green;
  color: $darker-gray;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: lighten($spotify-green, 10%);
  }
}

.btn-spotify {
  background-color: $spotify-green;
  border-color: $spotify-green;
  color: $darker-gray;

  &:hover,
  &:focus {
    background-color: lighten($spotify-green, 5%);
    border-color: lighten($spotify-green, 5%);
    color: $darker-gray;
  }
}

.spotify-nav .nav-link {
  color: $light-gray;
  font-weight: 500;
  padding: 0.7rem 0.7rem;
  text-decoration: none;

  &.active {
    color: $spotify-green;
    border-bottom: 2px solid $spotify-green;
  }

  &:hover {
    color: $spotify-green;
    background-color: $medium-gray;
    border-radius: 4px 4px 0 0;
  }
}

main {
  padding: 1rem;
}

.flash {
  text-align: center;    
  margin: 10px auto;       
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 500;
  width:  70vw;
  min-width: 500px;
}

.flash-alert {
  background-color: #ffeaea;
  border: 1px solid #e74c3c;
  color: #c0392b;
  width: 70vw;
}

.flash-notice {
  background-color: #e6ffed;
  border: 1px solid #2ecc71;
  color: #2e7d32;
}
